.msg-div{
        width: auto;
    z-index: 1033;
    position: fixed;
    left: 20%;
    right: 20%;
    margin-top: 35px;
    font-size: 14px;
}
.alert-message{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.number-circle {
     border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    font: 18px Arial, sans-serif;
    display: inline-block;
    position: relative;
    top: 5px;
}